.row {
  display: flex;
}

.column-half {
  width: 50%;
}

.content-end {
  justify-content: end;
}

.baseline {
  align-items: baseline;
}

.center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.space-between {
  justify-content: space-between;
}

.container {
  margin: auto;
  width: 100%;
  height: 100%;
}

.item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.column-full {
  width: 100%;
}

.padding-top-half {
  margin-top: 0.5rem;
}

.padding-bottom-half {
  margin-bottom: 0.5rem;
}
