* {
  box-sizing: border-box;
  max-height: 100vh;
  max-width: 100vw;
}

body {
  margin: 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

label {
  cursor: pointer;
}

a {
  cursor: pointer;
  margin: none;
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:active {
  transform: scale(1.1);
  color: inherit;
}

p {
  margin: 0;
}

.reverse {
  flex-direction: row-reverse;
}

img {
  width: 100%;
  height: 100%;
}

.hidden {
  display: none !important;
}

button {
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
}

label:active {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transform: translateY(1px);
}

html {
  scroll-behavior: smooth;
}
