body {
  background-color: #1b1717;
  color: #ffff;
  font-family: 'Ramabhadra', sans-serif;
}

input {
  width: 100%;
  height: 2rem;
}

.custom-button {
  color: white;
  border: none;
  background-color: #0d7377;
  width: 7rem;
  height: 2.5rem;
  border-radius: 8px;
  font: 'Roboto', sans-serif;
  text-align: center;
}

.custom-button:hover {
  background-color: #0fa8ad;
}

.custom-button:active {
  transform: translateY(3px);
}

.modal {
  font-family: 'Roboto', sans-serif;
  z-index: 2;
  max-width: 50vw;
  height: 50vh;
  border-radius: 20px;
  box-shadow: 0 0 10px #000;
  background-color: #323232;
}

.modal-container {
  backdrop-filter: blur(5px);
  background-color: #1b1717af;
  z-index: 3;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 100%;
  height: 100%;
  padding: 2rem;
}

form input {
  margin-bottom: 1rem;
}

form div:first-child {
  font-size: 2rem;
  margin-bottom: 2rem;
}

form label {
  font-size: 1.5rem;
  font-family: 'Raleway', sans-serif;
}

form #signup {
  margin-top: 2rem;
}

.red {
  color: rgb(255, 0, 0);
}

.header > .container {
  position: --webkit-sticky;
  position: sticky;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  font-family: 'Righteous', cursive;
  width: 100%;
  height: 4rem;
  background-color: #0d7377;
  text-shadow: 0 3px 3px #1b1717a8;
}

.header h2 {
  margin-left: 1.25rem;
}

.header .material-icons {
  font-size: 3rem;
}

.avatar {
  margin: 0.25rem;
  border-radius: 5rem;
  background-color: #f3f3f3;
  width: 5rem;
  height: 5rem;
}

.header .avatar {
  width: 3rem;
  height: 3rem;
}

.player {
  background-color: #2d2424;
  max-width: 100%;
  margin-bottom: 0.5rem;
  max-height: 75vh;
}

#content {
  padding: 0.25rem;
  margin: 0.25rem;
  flex-grow: 1;
}

.cyan {
  background-color: #0d7377;
}

.rounded {
  border-radius: 0.5rem;
}

.stream-card-footer .avatar {
  width: 3rem;
  height: 3rem;
}

.avatar > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 5rem;
}

.avatar.live {
  border: 3px solid rgb(255, 0, 0);
  box-shadow: 0 0 4px 2px  rgba(0, 0, 0, 0.226);
}

.profile {
  display: flex;
  font-family: 'Ramabhadra', sans-serif;
}

.profile span {
  margin: 1rem;
}

.stream-card {
  background-size: cover;
  min-width: calc(16rem * 1.5);
  min-height: calc(9rem * 1.5);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #0d7377;
  margin: 0.25rem;
}

.stream-card-body {
  flex-grow: 1;
}

.stream-card-footer {
  font-family: 'Ramabhadra', sans-serif;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  background-color: #1b1717be;
  flex-basis: 10%;
}

.browse {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: ro;
}

.search {
  position: relative;
  font-family: 'Ramabhadra', sans-serif;
  font-size: larger;
  width: 35%;
  height: 2.5rem;
  margin-bottom: 0.55rem;
}

.search input {
  padding-left: 1.5rem;
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
  border: none;
}

.search-icon {
  position: absolute;
  left: 0.15rem;
  top: 0.54rem;
  color: #000;
}

#sign-in {
  transform: scale(0.8);
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .browse {
    justify-content: center;
  }

  .search {
    width: 100%;
  }

  .stream-card {
    min-width: calc(16rem * 1.3);
    min-height: calc(9rem * 1.3);
  }

  .modal {
    max-width: 90vw;
    height: 90vh;
    border-radius: 20px;
    box-shadow: 0 0 10px #000;
    background-color: #323232;
  }
}
